 
        body {
            padding-top: 70px; /* Espace pour l'en-tête fixe */
        }
        .navbar-brand {
            font-weight: bold; /* Met en gras le nom de la marque */
        }

         /* Ajouter une bande de fond lors du survol */
        .navbar-nav .nav-link:hover {
            background-color: #f1f1f1; /* Couleur de la bande de survol */
            color: #333;               /* Changer la couleur du texte sur survol */
        }

        .navbar ul a
        {
           font-size: 12px;
           color: white;
           font-weight: bold;
           font-family: serif;
           border-left: 2px solid white;
           padding-left: 2px;
           margin-bottom: 5px;
        }

        #submenu a
        {
           font-size: 14px;
           background-color: #007bff;
           font-weight: bold;
           color: white;
           font-family: serif;
           margin-bottom: 2px;
           padding: 2px;
           
        }

        /* Utilisation de media query pour gérer la largeur en version mobile */

         @media (max-width: 768px) {
            #submenu{
                width: 100%; /* Occupe toute la largeur sur les petits écrans */
            }
        }

        /* Pour les grands écrans, occupe un quart de la largeur */
        @media (min-width: 769px) {
            #submenu{
                width: 25%; /* Occupe 25% sur les grands écrans */
            }
        }

        #navMenu
        {
             background-color: rgb(240,240,240);
        }

        #navMenu .nav-link
        {
           
            text-align : left ;
            border : 2px solid white;
            font-family: serif ;
            font-weight: bold ;
           
        }

        #tabStatic
        {
             
        }

        
         /* Media query pour centrer le menu utilisateur sur mobile */
        @media (max-width: 768px) {
            .user-menu {
                display: flex;
                justify-content: center;
                width: 100%;
            }
        }

        /* Media query pour les grands écrans : alignement à droite */
        @media (min-width: 769px) {
            .user-menu {
                 
                 position: relative;
                 right: 200px;
            }
        }

        @media (max-width: 768px) {
            #navMenu button {
                width: 95vw; /* Prend toute la largeur sur les petits écrans */
            }
        }

         .dropdown  li
        {
            background-color: rgb(240,240,240);
        }
        
        #menu_tab
        {
             height: 550px;
             width: 100%;
             border: 1px solid blue;
        }

    